title{
  margin: auto;
  text-align: center;
}

.awesome-top_line {
    width: 64px;
    height: 1px;
    background-color: rgba(231, 36, 36, 1);
    margin: 0 auto

}
h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    text-align:center;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
  

}

h4{
    
    font-weight: bold;
font-size: 20px;
line-height: 27px;
font-weight: bold;
color: rgba(0, 0, 0, 1);
padding:10px;
}





h1{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.awesome_text{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;
    

}



h6{
    text-align:center;
    color: #86878B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.image-circle{
    height: 50px;
    width: 50px;
    border: 1px solid #D98943;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 30px -15px;
}
.awesome-section{
    margin-top: 80px;
    padding-bottom: 116px;
}
.title::after{
    content:'';
    width: 64px;
    height: 2px;
    display: block;
    background-color:rgba(231, 36, 36, 1);
    margin: 30px auto;
}




