

header {
    background: #000000; 
    max-height: 70px; 
   
   
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    
}

.header-menu {
    text-align: center;
    margin: 20px;
}

ul.header-menu-list li {
    display: inline;    
}

.header-menu-list a {
    display: inline-block;
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);    
    cursor: pointer;
    text-align: center;
    margin: 0px 20px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}



.header-logo_text {
    font-family: "Raleway-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;  
     
    
    
}

.header-logo_text::after {
    content:'it';
    font-family: "Raleway-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #EC7979;
    position: absolute;
    top: 0;
    right: -25px;
}

.header-menu-list a:hover {
    color: #D98943;
    border-bottom-color: #D98943;
}


