.Tabs{
    background: #FFFFFF;
    margin-top: 120px;
margin-bottom: 30px;
}

.Tabs_row{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 85px;;

}

.tabs-title{
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 58px;
}

.tabs_column_text{
    max-width: 572px;
    margin-left: 56px;
    margin-top:20px;
}
.tabs_text{

    display: block;
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
    margin-bottom: 20px;
    
}

.tabs_text2{
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
    margin-bottom: 89px;
}

.tabs_column{
margin-top: 15px;
}

.tab-button{
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
    color:#FFFFFF;
    background-color: #333333;
    border-radius: 4px;
    border: none;
    padding: 41px 35px;
    margin-bottom: 10px;
    
}

.tab-button:hover{
    background-color: #EC7979;
    transform:rotate(45deg);
    transform: scale(1.5);
}

.tab-download-button{
    background-color: #EC7979;
    color: #FFFFFF;
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    padding: 9px 26px;
    transition-duration: 0.8s;
    
    
}

.tab-download-button:hover {
    color: white;
    background-color: #333333;
}